<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>EmpleosApp | Aplicar para una Oferta de Trabajo</title>
 <link rel="shortcut icon" href="/images/logo.png">
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>

	<div th:replace="~{fragments/headerIn :: headerIn}">Header</div>

	<main role="main">
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<img class="rounded mx-auto d-block"
						th:src="${'/images/' + vacante.imagen}"
						alt="Generic placeholder image" width="220" height="220">
				</div>
				<div class="col-md-9">
					<div class="card">
						<h4 class="card-header">
							<strong>Aplicar a: </strong><span>[[${vacante.nombre}]]</span>
						</h4>
						<div class="card-body">
							<h5 class="card-title">
								<strong>Categoría: </strong><span></span>
							</h5>
							<h6 class="card-title">
								<strong>Publicado: </strong><span>[[${vacante.fecha}]]</span>
							</h6>
							<h6 class="card-title">
								<strong>Salario Ofrecido: </strong><span>[[${vacante.salario}]]</span>
							</h6>
							<p class="card-text">[[${vacante.descripcion}]]</p>
							<hr>
							<form>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="comentarios">Comentarios</label>
											<textarea class="form-control" name="comentarios"
												id="comentarios" rows="2"></textarea>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="archivoCV">Curriculm Vitae</label> <input
												type="file" class="form-control-file" name="archivoCV"
												id="archivoCV">
											<p class="help-block">Archivos [ pdf,doc,docx ]</p>
										</div>
									</div>
								</div>
								<hr>
								<p>
									<button type="submit" title="Enviar mi Solicitud."
										class="btn btn-primary">Enviar</button>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a
										class="btn btn-danger"
										th:href="@{/vacantes/view/{id} (id=${vacante.id})}"
										role="button" title="Volver a las vacantes."><i
										class="fas fa-file" aria-hidden="true"></i> Regresar</a>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /container -->

	</main>

	<div th:insert="~{fragments/footer :: footer}">&copy;</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>