<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>EmpleosApp | Formulario de Registro</title>
 <link rel="shortcut icon" href="/images/logo.png">
<!-- Bootstrap core CSS -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="bootstrap/css/jumbotron.css" rel="stylesheet">
<link href="bootstrap/css/sticky-footer-navbar.css" rel="stylesheet">
</head>

<body>

	<div th:replace="~{fragments/header :: header}">Header</div>

	<main role="main">
		<hr>
		<div class="container">

			<div class="card">
				<h4 class="card-header">
					<strong>Formulario de registro</strong>
				</h4>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="nombre">Nombre</label> <input type="text"
										class="form-control" id="nombre" name="nombre"
										placeholder="Escriba su nombre" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="email">Correo electr&oacute;nico</label> <input
										type="email" class="form-control" id="email" name="email"
										placeholder="Escriba su correo electr&oacute;nico"
										required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="username">Usuario: </label> <input type="text"
										class="form-control" id="username" name="username"
										placeholder="Escriba su nombre de usuario" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="password">Contrase&ntilde;a: </label> <input
										type="password" class="form-control" id="password"
										name="password" placeholder="Escriba su clave de acceso"
										required="required">
								</div>
							</div>
						</div>
						<hr>
						<button type="submit" title="Quiero registrarme."
							class="btn btn-primary">Registrarse</button>
						<a class="btn btn-danger" title="Ir al login" href="/login">Ingresar</a>
					</form>
				</div>
			</div>
		</div>
		<!-- /container -->

	</main>

	<div th:insert="~{fragments/footer :: footer}">&copy;</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>